@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

body { 
    width: 100%; 
    height: 100%; 
    font-family: 'Roboto', sans-serif; 
    background-color: #E5E5E5;
  
} 

* { 
    box-sizing: border-box;
} 

.cabecalho { 
    width: 100%; 
    height: 69px;  
    background-color: rgba(236, 54, 45, 1); 
    color: rgba(255, 255, 255, 1); 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 37px; 
    font-weight: bold;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 31px;
} 


.naoCriou{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1051px;
    height: 181px;
    border: 2px dashed #D5D5D5;
    border-radius: 5px;

    margin-top: 77px;
}
.naoCriou h1{
    max-width: 200px;
    text-align: center;
    color: #b9B9B9;
    font-size: 20px;
    word-wrap: break-word;
}
.criarQuizz:hover{
    cursor: pointer;
}
.quizz:hover{
    cursor: pointer;
}
.criarQuizz{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin-top: 30px;
}
.informacao{
    display: flex;
    align-items: center;
    margin-top: 77px;
    margin-left: 124px;
}


.informacao h1{
   
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    word-wrap: break-word;
  
}
.quizzes{
    display: flex;
    flex-wrap: wrap;
   margin-left: 114px;
 

}
.quizz{
position: relative;
width: 340px;
height: 181px;
margin: 12px 15px;


}

.quizz > img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
}
.quizz h2{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
    font-size: 19px;
    word-wrap: break-word;
}

.mais:hover{
    cursor: pointer;
}
.mais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 26px;
    width: 31px;
    height: 30px;
    font-size: 25px;
    background-color: #EC362D;
    color: #FFFFFF;
    border-radius: 500px;
}

-----------------------------------------------------------


.corpoTela3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.tela2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tela3-parte1 ,.tela3-parte2 ,.tela3-parte3 ,.tela3-parte4{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%;
}
.criacao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 27px;
   
}
.criacao h1{
    font-size: 23px;
    color:black;
    font-weight: bold;
    word-wrap: break-word;

}
.infos{

    width: 600px;
    height: 256px;
    background-color: #ffffff;
    margin: 0 auto;
   
    
}
.infos > input { 
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 9px;
    width: 564px;
    height: 46px;
    font-size: 19px;
    border-radius: 5px;
    border:1px solid #D1D1D1;
    box-sizing: border-box;
}
.infos :first-child{
    margin-top: 21px;
}
.infos :last-child{
    margin-bottom: 24px;
}
button{

    background-color:#EC362D;
    width: 369px;
    height: 54px;
    border-radius: 15px;
    font-size: 21px;
    color: #fff5f4;
    margin-top: 85px;
  
}
button:hover{
    cursor: pointer;
}
li.bloco > .formacao{
    width: 600px;
    height: 825px;
    margin: 0 auto;
}
.pergunta h2{
    font-size: 20px;
    font-weight: bold;
    margin-left: 17px;
    margin-top: 27px;
    margin-bottom: 15px;
    word-wrap: break-word;
}
.pergunta > input{
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 9px;
    width: 564px;
    height: 46px;
    font-size: 19px;
    border-radius: 5px;
    border:1px solid #D1D1D1;
    box-sizing: border-box;
}
.bloco{
    background-color: #ffffff;
}

.conjunto{
    height: 32px;
    width: 100px;
}
.niveis{
    width: 600px;
    height: 316px;
    background-color: #ffffff;
    margin: 0 auto;
}
.niveis > input{
   
        margin-left: 16px;
        margin-right: 20px;
        margin-top: 9px;
        width: 564px;
        height: 46px;
        font-size: 19px;
        border-radius: 5px;
        border:1px solid #D1D1D1;
        box-sizing: border-box;
    
}
.niveis h2{
    font-size: 20px;
    font-weight: bold;
    margin-left: 17px;
    margin-top: 27px;
    margin-bottom: 15px;
    word-wrap: break-word;
}
.imagem-quizz{
    width: 500px;
    height: 266px;
    background-color: rgb(67, 78, 78); 
    border-radius: 5px;
   position:relative;
}
.imagem-quizz h2{
    position: absolute;
    bottom: 20px;
    left: 23px;
    font-size: 23px;
    color: #FFFFFF;
    word-wrap: break-word;
}
.acessar{
    width: 220px;
    height: 44px;
}
.voltar h2{
    margin-top: 19px;
    color: #818181;
    font-size: 21px;
    margin-bottom: 30px;
    word-wrap: break-word;
}
.voltar :hover{
    cursor: pointer;
}
.icone :hover{
    cursor: pointer;
}
li.bloco > .pergunta-fechada , .nivel-fechado  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 601px;
    height: 74px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

li.bloco > .pergunta-fechada h2{
    font-size: 20px;
    font-weight: bold;
    margin-left: 17px;

}
.nivel-fechado h2{
    font-size: 20px;
    font-weight: bold;
    margin-left: 17px;
    word-wrap: break-word;
}
.icone{
    width: 26px;
    height: 23px;
  
}
.bloco{
    margin-top: 24px;
} 
.parteDeCima > img{
    width: 100%;
    height: 100%;  
    opacity: 0.4;
 
}
.parteDeCima{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 227px;
    margin-top: -31px;
    background-color: #000000;
}

.parteDeCima h2{
    position: absolute;
    font-size: 39px;
    color: white;
    word-wrap: break-word;
}
.parteDeBaixo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.block{
    
    background-color: #ffffff;
    width: 759px;
    height: 676px;
    margin-top: 42px;
   
}

.titulo-pergunta , .titulo-final{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
    margin-left: 37px;
    background-color: #EC362D;
    width: 688px;
    height: 137px;
}
.titulo-pergunta h3 {
    font-size: 23px;
   color: white;
    font-weight: bold;
    word-wrap: break-word;
 
}
.titulo-final h3{
    font-size: 23px;
    color: white;
    font-weight: bold;
    word-wrap: break-word;
}
.respostas{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.opcao{
    margin: 20px;
    width: 329px;
    height: 175px; 
    background-color: #818181;
}
.opcao > img{
  
    width: 329px;
    height: 175px; 

}
.nome-opcao{
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    color: black;
}
.final{
    background-color: #ffffff;
    margin-top: 44px;
    width: 759px;
    height: 500px;

}
.parteBaixa{
 display: flex;
 justify-content: center;
 align-items: center;

}
.texto{
    display: flex;
    flex-wrap: wrap
}
.imagem{
    margin: 18px;
    width: 364px;
    height: 273px;
    background-color: aqua;
}
.texto{
   width: 328px;
    height: 253px;
   
    
}
.texto h3{
    color: black;
    font-size: 19px;
    font-weight: bold;
    max-width: 328px;
    word-wrap: break-word;
 
} 

.selecionado { 
    border: 3px solid red;
}

.escondido{display: none;} 


@media(max-width:375px){

/* tela1*/

.naoCriou{
    width: 90%;
}
.quizzes {
   margin-left: 0px;
}
.informacao{
    justify-content: space-between;
    margin-left: 0px;
    width: 100%;
    padding: 20px;
}

.quizz h2{
    max-width: 340px;
}

/* tela2*/
    .parteDeCima{
    height: 142px;
    width: 100%;
    }
    .parteDeCima h2{
        font-size: 19px;
    }

    .block {
        width: 375px;
        height: 436px;
    }
    .final{
        width: 100%;
        height: 500px;
    }
    .titulo-final , .titulo-pergunta{
    width: 95%;
    margin-left: 8px;
    }
    .titulo-final h3, .titulo-pergunta h3{
        font-size: 19px;
        word-wrap: break-word;


    }
    .titulo-final{
        height: 99px;
        margin-top: 18px;

    }
    .titulo-pergunta{
        height: 89px;
        margin-top: 18px;
    }
    .opcao {
        width: 164px;
        height: 113px;
        margin: 6px;
        margin-top: 13px;
    }
    .opcao >img{
        width: 164px;
        height: 113px;
    }
    .nome-opcao{
        font-size: 18px;
        margin-left: 5px;
        margin-top: 6px;
    }
    .parteBaixa{
        flex-direction: column;

    }
    .imagem{
        width: 340px;
        height: 255px;
        margin-top: 9px;
    }

    /* tela3-parte 1*/
    .infos{
        width: 100%;
    }
    .infos > input{
     width: 90%;
     
    }
    button {
        
        margin-top: 34px;
        font-size: 18px;
    }
    .reiniciar{
        width: 220px;
        height: 44px;
    }
    .criar{
        width: 323px;
    }
    .criacao{
        margin-top: -2px;
    }
    .voltar{
        font-size: 18px;
    }
    .texto h3{
        font-size: 18px;
        word-wrap: break-word;
    }
      /* tela3-parte 3*/
      li.bloco > .pergunta-fechada{
          width:375px;
        }
     /* tela3-parte 3*/
     .niveis{
         width: 100%;
     }
    /*tela3-parte 4:*/
    .imagem-quizz{
        width: 340px;
        height: 181px;
    }
    .imagem-quizz h2{
        font-size: 19px;
        word-wrap: break-word;
    }
    .voltar h2 {
        font-size: 18px;
    }

  
     


}






